@import "tailwindcss";

@theme {
    --color-cosmos: #49111C;
    --color-subtext: #0b3452;
    --color-darkGrayish: #bec5ca;
    --color-lightGrayish: #cfd4d8;
    --color-darkBlueish: #0b3452;
    --color-graysheesh: linear-gradient(180deg,#a6a6a6,#ffffff);

    --fontSize-superLg: 5rem;

    --breakpoint-3xl: 115rem;
  }


  
