@import "tailwindcss";

@theme {
    --color-cosmos: #49111C;
    --color-subtext: #0b3452;
    --color-darkGrayish: #bec5ca;
    --color-lightGrayish: #cfd4d8;
    --color-darkBlueish: #0b3452;
  }

